<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/create">
  <button>create new music</button>
</a>
<table th:border="1px">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Singer</th>
    <th>Category</th>
    <th>Update</th>
  </tr>
  <tr th:each="music,loop : ${musis}">
    <td th:text="${music.id}"></td>
    <td th:text="${music.name}"></td>
    <td th:text="${music.singer}"></td>
    <td th:text="${music.category}"></td>
    <td><a th:href="@{/update/__${music.id}__}">
          <button>update</button>
        </a>
    </td>
  </tr>
</table>
</body>
</html>